:root {
    --color-1: #0d6efd;    ;
    --color-2: #80868b;
    --color-3: #0dcaf0;
    --color-4: #16018d;
}

body {
    background-color: var(--color-2);
}

.caja {
    border: 3px solid black;
}

.bg-1 {
    background-color: var(--color-1)
}

.bg-2 {
    background-color: var(--color-2)
}

.bg-3 {
    background-color: var(--color-3)
}

.bg-4 {
    background-color: var(--color-4)
}

.alto1 {
    height: 10rem;
}

.ico {
    height: 4rem;
}

.ej {
    text-align: center;
    color: white;
}